/html/
/latex/
*-test
*.pc
*.o
*.a
*.la
*.lo
*.so
*.gcno
*.gcda
*.gcov
*.stamp
*.clangtidy
/.*project
/.settings/
.deps/
.libs/
aclocal.m4
m4/lt*.m4
m4/libtool*.m4
autom4te.cache/
Doxyfile
Makefile
Makefile.in
compile
configure
missing
libtool
ltmain.sh
install-sh
depcomp
stamp-h1
/config.*
/docs/html/
/docs/latex/
aminclude_static.am
